<div id="certs" class="blogs">
    <div class="container">
        <div class="service-head text-center">
            <h4>Certifications</h4>
            <h3>MY <span>Certifications</span></h3>
            <span class="border one"></span>
        </div>
        <div class="news-grid w3l-agile">
            <div class="col-md-6 news-text">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/PD1Cert.jpg') }}" alt="Salesforce PD 1" class='cert' />
                </div>
                <div class='certText'>
                    PLATFORM <br/> Developer 1
                </div>
            </div>
            <div class="col-md-6 news-text">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/CPQCert.jpg') }}" alt="Salesforce CPQ Specialist" class='cert' />
                </div>
                <div class='certText'>
                    SALESFORCE CPQ <br/> Specialist
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="news-grid w3l-agile">
            <div class="col-md-6 news-text">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/PAB.jpg') }}" alt="Salesforce Platform App Builder" class='cert' />
                </div>
                <div class='certText'>
                    SALESFORCE <br/> App Builder
                </div>
            </div>
            <div class="col-md-6 news-text">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/SFAdmin.jpg') }}" alt="Salesforce Admin" class='cert' />
                </div>
                <div class='certText'>
                    SALESFORCE <br/> Administrator
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="news-grid w3l-agile">
            <div class="col-md-6 news-text">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/CopadoAdmin.jpg') }}" alt="Copado Admnin Certified" class='cert' />
                </div>
                <div class='certText'>
                    COPADO <br/> Administrator
                </div>
            </div>
            <div class="col-md-6 news-text">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/CopadoDev.jpg') }}" alt="Salesforce Admin" class='cert' />
                    <!--<img src="images/flosum.jpg" alt="Flosum Certified" class='cert'/>-->
                </div>
                <div class='certText'>
                    COPADO <br/> Developer
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="news-grid w3l-agile">
            <div class="col-md-6 news-text">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/CopadoConsultant.jpg') }}" alt="Copado Certified Consultant" class='cert' />
                </div>
                <div class='certText'>
                    COPADO <br/> Consultant
                </div>
            </div>
            <div class="col-md-6 news-text">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/flosum.jpg') }}" alt="Flosum Certified" class='cert' />
                </div>
                <div class='certText'>
                    FLOSUM <br/> CERTIFIED
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="news-grid w3l-agile">
            <div class="col-md-6 news-text">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/LWCUdemy.jpg') }}" alt="LWC Udemy" class='cert' />
                </div>
                <div class='certText'>
                    LWC <br/> DEVELOPER
                </div>
            </div>
            <div class="col-md-6 news-text">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/CPQUdemy.jpg') }}" alt="CPQ Udemy" class='cert' />
                </div>
                <div class='certText'>
                    CPQ <br/> DEVELOPER
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br/>
<br/>