<title>Ayush Sharma| Home :: Portfolio</title>
    
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' />
    <link href="{{ url_for('static', filename='css/owl.carousel.css') }}" rel="stylesheet" type='text/css'>
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Custom Theme files -->
    
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Ayush Sharma Resume Portfolio Preface Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/icon" sizes="32x32" href="{{ url_for('static', filename='images/myicon.ico') }}">
    <link rel="icon" type="image/icon" sizes="16x16" href="{{ url_for('static', filename='images/myicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/manifest.json') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!-- End -->
    <!-- webfonts -->
    <link href='//fonts.googleapis.com/css?family=Asap:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <!-- webfonts -->
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="{{ url_for('static', filename='js/move-top.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/easing.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!---- start-smoth-scrolling---->