<div Id='trails'></div>
    <div id="services" class="services">
        <div class="container">
            <div class="service-head one text-center">
                <h4>Trailhead</h4>
                <h3 style='color: rgb(145, 142, 142);'>MY <span>Badges & Points</span></h3>
                <span class="border one"></span>
            </div>
            <br/>
            <div class="news-grid w3l-agile">
                <br/>
                <p><a href="https://trailblazer.me/id/ayusharmadev" rel="noopener" target="_blank" title="Trailhead" style='margin-left: 4%;'>Check out live points here</a></p>
                <div class="col-md-6 news-text trailheadDetails">
                    <div class="col-md-2">
                        <img src="{{ url_for('static', filename='images/trailheadChart.PNG') }}" alt="about" />
                    </div>
                </div>
                <div class="col-md-6 news-text">
                    <div class="col-md-2">
                        <img src="{{ url_for('static', filename='images/trailheadPoints.PNG') }}" alt="about" class='trailImg' />

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="news-grid w3l-agile trailheadDetails">
                <div class="col-md-6 news-text"></div>
                <div class="col-md-6 news-text">
                    <div class="col-md-2" style='margin-left: 21%;'>
                        <img src="{{ url_for('static', filename='images/superbadges.PNG') }}" alt="about" />
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>