<!--<div id="work" class="work">
    <div class="container">
      <div class="service-head text-center">
        <h4>WHAT I DID</h4>
        <h3>MY <span>EXPERIENCE</span></h3>
        <span class="border one"></span>
      </div>
      <div class="time-main w3l-agile">
        <div class="col-md-6 year-info">
          <ul class="year">
            <li>JUN 2018 <i class="glyphicon glyphicon-arrow-right"></i> <span id="tillDate"></span></li>
            <div class="clearfix"></div>
          </ul>
        </div>
        <ul class="col-md-6 timeline">
          <li>
            <div class="timeline-badge info"><i class="glyphicon glyphicon-briefcase"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title"><a href="https://www.atrium.ai/" target="_blank">Atrium<i>Jaipur, India</i></a></h4>
              </div>
              <div class="timeline-body">
                <p>We provide seamless Salesforce development and administration services.
                   We provide development for Sales cloud - Service cloud implementation, Salesforce Integration, Migration to salesforce, Software testing,
                   Lightning Development and Salesforce support.
                </p>
                <p><strong>Great! place to learn.</strong></p>
              </div>
            </div>
          </li>

        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>-->