<!--
Author: Ayush Sharma
Author URL: https://github.com/bharadhwaj-g
Note : It has been developed on top of W3layout template - http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
    <!-- head -->
    {% include 'includedTemplates/head.html' %}
    <!-- //head -->
</head>

<body>
    <!-- container -->
    <!-- header -->
    {% include 'includedTemplates/header.html' %}
    <!-- //header -->

    <!-- about -->
    {% include 'includedTemplates/about.html' %}
    <!-- //about -->

    <!-- skills -->
    {% include 'includedTemplates/skills.html' %}
    <!-- //skills -->

    <!--Certifications-->
    {% include 'includedTemplates/certifications.html' %}
    <!-- //Certifications-->

    
    <!--Trailhead Section-->
    {% include 'includedTemplates/trailheadDetails.html' %}
    <!-- //Trailhead Section-->

    <!--work-experience-->
    {% include 'includedTemplates/workexperience.html' %}
    <!-- //work-experience-->

    <!-- projects -->
    {% include 'includedTemplates/projects.html' %}
    <!-- //projects-->

    <!-- reviews -->
    {% include 'includedTemplates/reviews.html' %}
    <!-- //reviews-->

    <!-- footer -->
    {% include 'includedTemplates/footer.html' %}
    <!-- //footer-->

</body>

</html>